 <body>
  <p id = "notice"></p>
  <p>
   <srong>Title:<%= @book.title %></srong>

  </p>
  <p>
   <srong>Body:<%= @book.body %></srong>
  </p>
  <a class = "dit_1" href = "/books/1/edit">Edit</a>
   |
  <a class = "back" href = "/books">Back</a>
 </body>